---
import IconList from "../components/IconList.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro File Icon</title>
  </head>
  <body class="bg-neutral-900 text-neutral-400">
    <header class="my-20 text-center container">
      <h1 class="text-white font-bold text-4xl mb-2">Astro File Icon</h1>
      <h2 class="mb-4">Astro Component For Showing File Icon by extension.</h2>
      <a
        href="https://github.com/hsnfirdaus/astro-file-icon"
        class="bg-rose-600 text-white py-2 px-4 inline-block rounded-xl shadow-2xl shadow-rose-600"
        >Visit GitHub</a
      >
    </header>
    <main class="container my-20">
      <IconList />
    </main>
  </body>
</html>
