---
import { FileIcon, defaultStyles } from "astro-file-icon";
---

<div class="grid grid-cols-12 gap-8">
  {
    Object.keys(defaultStyles).map((item) => (
      <FileIcon extension={item} {...defaultStyles[item]} />
    ))
  }
</div>
